Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-readability-todo,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-suspicious-call-argument,
HeaderFileExtensions: ['hpp']
ImplementationFileExtensions: ['cpp']
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: true