Checks: 'bugprone-*,clang-analyzer-*,misc-*,modernize-*,performance-*,readability-*,-misc-include-cleaner,-modernize-use-trailing-return-type,-readability-function-cognitive-complexity'
HeaderFileExtensions: ['hpp']
ImplementationFileExtensions: ['cpp']
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true