Checks: 'bugprone-*,clang-analyzer-*,misc-*,modernize-*,performance-*,readability-*,-misc-include-cleaner,-misc-non-private-member-variables-in-classes,-modernize-use-trailing-return-type,-readability-function-cognitive-complexity,-readability-identifier-length,-readability-implicit-bool-conversion,-readability-magic-numbers'
HeaderFileExtensions: ['hpp']
ImplementationFileExtensions: ['cpp']